*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.back{
    background: url("image/school.jpg");
   
    background-repeat: repeat;
    min-height: 100%;
    width: 100%;
}

/*Carousel*/

.onecontain{
    background-color: rgb(240, 177, 154);
    height: 100%;
}

/*Navbar*/
.navls{
    border: 1px solid rgb(175, 173, 173);
    background-color: #c02032;
    padding: 4px ;
   
}
.navls:hover{
   background-color: #f8455a;
   
}
.navls a{
    text-decoration: none;
    color: white;
}
.navls a:hover{
    color: #520710;
}
.navlsd{
    border: 1px solid rgb(175, 173, 173);
    background-color: #c02032;
    padding: 4px ;
   
}



/*-------------Navbar----------------*/

/*--Table----*/
.outer-border-container {
    border: 2px solid rgb(169, 167, 167); 
    padding-top: 10px; 
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center; 
    overflow: hidden;
   
 
}
.custom-table {
    border: 2px solid rgb(85, 85, 85);
    
   
}
.custom-table td, .custom-table th {
    border: 2px solid rgb(85, 85, 85); 
    
}

.outer-border-container2 {
    border: 2px solid rgb(169, 167, 167); 
    padding-top: 10px; 
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center; 
    margin-top: -8px;
   
}
.custom-table2 {
    border: 2px solid rgb(85, 85, 85);
    
}
.custom-table2 td, .custom-table2 th {
    border: 2px solid rgb(85, 85, 85);
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    
}
@media (max-width: 600px) {
    .outer-border-container2 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .custom-table2 th, .custom-table2 td {
        font-size: 8px; 
    }
}



/*-------------Table--------------*/

/*Footer*/
.foot{
    background-color: #eb9b7e;
}

.colfoot1{
   
}


